{{!-- template: full-width-iframe | 2021.08.26--}}

{{!< default}}

{{#post}}
<section class="hero">
    <article class="single-article">
        <div class="box has background-black is-paddingless is-shadowless is-full-mobile is-centered">
            <div class="columns">
                <div class="column is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <div class="post-wrap full-width-iframe is-vpadding-0">
                        <div class="content post-content is-size-6-mobile is-georgia">
                            {{content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
{{/post}}
