/* ===== Customize Styles ===== */

/* global */
:root {
    --main-color: #000000;
    --secondary-color:#44CDD4;
    --link-color-hover: #ff7a7a;
    --text-black: #333;
    --text-grafana-grey: rgb(133,134,138);
    --text-dark: #7a0404;
    --bg-color-light: #fff3f3;
    --shadow: rgba(238,95,91,0.25);
  }
